@font-face {
    font-family: 'cerveruus';
    src: url('font/cerveruus.eot?85087402');
    src: url('font/cerveruus.eot?85087402#iefix') format('embedded-opentype'),
    url('font/cerveruus.woff?85087402') format('woff'),
    url('font/cerveruus.ttf?85087402') format('truetype'),
    url('font/cerveruus.svg?85087402#cerveruus') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cerveruus';
    src: url('../font/cerveruus.svg?85087402#cerveruus') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "cerveruus";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-minus-circled:before { content: '\e802'; } /* '' */
.icon-plus-squared:before { content: '\e803'; } /* '' */
.icon-plus-circled:before { content: '\e804'; } /* '' */
.icon-folder-open:before { content: '\e805'; } /* '' */
.icon-folder:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-cog-alt:before { content: '\e808'; } /* '' */
.icon-wrench:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-login:before { content: '\e80c'; } /* '' */
.icon-ccw:before { content: '\e80d'; } /* '' */
.icon-arrows-cw:before { content: '\e80e'; } /* '' */
.icon-camera:before { content: '\e80f'; } /* '' */
.icon-users:before { content: '\e810'; } /* '' */
.icon-bell-alt:before { content: '\e811'; } /* '' */
.icon-bell-off-empty:before { content: '\e812'; } /* '' */
.icon-lock:before { content: '\e813'; } /* '' */
.icon-lock-open-alt:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e815'; } /* '' */
.icon-print:before { content: '\e816'; } /* '' */
.icon-book-open:before { content: '\e817'; } /* '' */
.icon-trash:before { content: '\e818'; } /* '' */
.icon-archive:before { content: '\e819'; } /* '' */
.icon-monitor:before { content: '\e81a'; } /* '' */
.icon-briefcase:before { content: '\e81b'; } /* '' */
.icon-suitcase:before { content: '\e81c'; } /* '' */
.icon-chart-area:before { content: '\e81d'; } /* '' */
.icon-user:before { content: '\e81e'; } /* '' */
.icon-trash-1:before { content: '\e81f'; } /* '' */
.icon-mail:before { content: '\e820'; } /* '' */
.icon-reply-all:before { content: '\e821'; } /* '' */
.icon-reply:before { content: '\e822'; } /* '' */
.icon-logout-1:before { content: '\e823'; } /* '' */

/********************************* DEFAULT ******************************/

.back{
    color: rgba(0, 0, 0, 0.37);
    display: block;
    font-size: 25px;
    padding: 10px 0px;
}

.back:hover{
    color: #07b4e3;
}

h2{
    font-weight: 400;
}

/******************************* MAPS ************************************/

#map-canvas {
    height: 400px;
    width: 500px;

}
#panel {
    z-index: 5;
    padding: 5px;
    border: 1px solid #999;
}


.hidden,#hidden{
    display: none;
}

body, html{
    background: #F3F3F4;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/***************************** MESSAGES ******************************/

.message,.messageError{
    display: inline-block;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    width: 90%;
}

.message{
    color: rgba(0, 128, 0, 0.4);
    margin-right: -10px;
    padding-left: 8%;
}

.messageError{
    color: rgba(255, 29, 0, 0.44);
    margin-right: -10px;
    padding-left: 8%;
}

/****************************** HEADER *******************************/


header{
    background: #233645;
    height: 100%;
    position: fixed;
    width: 220px;
}

#logo{
    margin: 10px 10px;
    width: 180px;
}

.headerProfile{
    background: rgba(16, 15, 15, 0.23);
    color:white;
}

.headerProfile figure{
    height: 150px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.headerProfile figure img{
    border-radius: 50%;
    height: 70px;
    margin-top: 15px;
    width: 70px;
}

.headerProfile figure div p{
    font-weight: 400;
}

.headerProfile figure div span{
    display: block;
    color: rgba(255, 255, 255, 0.52);
    font-size: 11px;
    font-weight: 100;
    margin-top: -16px;
}

header nav{
    background: rgba(0, 0, 0, 0.12);
    height: 100%;
}

header nav a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    color: rgba(255, 255, 255, 0.72);
    display: block;
    font-size: 14px;
    font-weight: inherit;
    padding: 13px;
    width: 194px;
}

header nav a:hover{
    background: rgba(0, 0, 0, 0.36);
    opacity: 0.6;
}

/**************************************** HEADER DEL WRAPPER *********************/

.wrapper{
    width: 100%;
}

.wrapperBody, .wrapperBody1{
    display: inline-block;
    vertical-align: top;
}

.wrapperBody{
    margin-right: -4px;
    width: 220px;
}

.wrapperBody1{
    width: 82.8125%;
    margin-right: -4px;
}

.row {
    border-bottom: 1px solid rgba(172, 177, 181, 0.65);
    height: 34px;
    width: 100%;
}

.rowContent{
    height: 30px;
    position: inherit;
    width: 98%;

}

.rowContent a{
    color: rgba(0, 0, 0, 0.37);
    display: inline-block;
    font-size: 20px;
    float: right;
    vertical-align: top;
}

.rowContent a:hover{
    color:#07b4e3;
}

/****************************************** WRAPPER O CUERPO ***********************/


h1{
    background: white;
    border-bottom: 1px solid rgba(172, 177, 181, 0.65);
    color: rgba(0, 0, 0, 0.57);
    font-weight: normal;
    height: 62px;
    margin: 0 1px 12px;
    padding-top: 18px;
    text-align: center;
    width: 100%;
}

.working{
    margin: auto;
    width: 90%;
}

.wrapperContent{
    background: white;
    border-top: 4px solid rgba(111, 111, 111, 0.39);
    border-radius: 3px;
    margin-bottom: 30px;
    padding-bottom: 1px;
    width: 100%;

}

/*************************************** TABLE ***************************************/

.tableContent{
    box-shadow: 0 1px 5px 0;
    overflow: auto;
    text-align: center;
}

table{
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    width: 100%;
}

th,td {
    border-top: 1px solid #ddd;
    padding: 16px;

}

th{
    font-weight: 500;
}

td{
    font-weight: 100;
}

.tableContent a{
    color: rgba(0, 0, 0, 0.37);
}

.tableContent a:hover{
    color: #07b4e3;
}

.tableContent img{
    border-radius: 50%;
    height: 40px;
    width: 40px !important;
}

/************************************ FORM *************************************************/

.formContent{
    background: white;
    box-shadow: 0 1px 5px 0;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 30px;
}

form{
    border-radius: 15px;
    font-weight: 100;
    margin: 16px auto;
    width: 90%;
}


form div label{
    display: block;
    padding: 20px 10%;
    width: 100%;
}



form div input, form div select{
    background: white;
    border-radius: 15px;
    height: 30px;
    margin: 0px 10%;
    padding-left: 20px;
    width: 80%;
}

form div select{
    width: 83%;
}

input[type=submit]{
    background: rgba(29, 44, 56, 0.99);
    border: 1px solid rgba(29, 44, 56, 0.99);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    margin: 45px 0;
    width: 100%;
}

 textarea{
    background: white;
    border-radius: 15px;
    height: 200px;
    margin: 0px 10%;
    padding-left: 20px;
    width: 80%;
}


