@font-face {
    font-family: 'cerveruus';
    src: url('font/cerveruus.eot?85087402');
    src: url('font/cerveruus.eot?85087402#iefix') format('embedded-opentype'),
    url('font/cerveruus.woff?85087402') format('woff'),
    url('font/cerveruus.ttf?85087402') format('truetype'),
    url('font/cerveruus.svg?85087402#cerveruus') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cerveruus';
    src: url('../font/cerveruus.svg?85087402#cerveruus') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "cerveruus";
    font-style: normal;
    font-weight: normal;
    /*speak: none;*/

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-minus-circled:before { content: '\e802'; } /* '' */
.icon-plus-squared:before { content: '\e803'; } /* '' */
.icon-plus-circled:before { content: '\e804'; } /* '' */
.icon-folder-open:before { content: '\e805'; } /* '' */
.icon-folder:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-cog-alt:before { content: '\e808'; } /* '' */
.icon-wrench:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-login:before { content: '\e80c'; } /* '' */
.icon-ccw:before { content: '\e80d'; } /* '' */
.icon-arrows-cw:before { content: '\e80e'; } /* '' */
.icon-camera:before { content: '\e80f'; } /* '' */
.icon-users:before { content: '\e810'; } /* '' */
.icon-bell-alt:before { content: '\e811'; } /* '' */
.icon-bell-off-empty:before { content: '\e812'; } /* '' */
.icon-lock:before { content: '\e813'; } /* '' */
.icon-lock-open-alt:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e815'; } /* '' */
.icon-print:before { content: '\e816'; } /* '' */
.icon-book-open:before { content: '\e817'; } /* '' */
.icon-trash:before { content: '\e818'; } /* '' */
.icon-archive:before { content: '\e819'; } /* '' */
.icon-monitor:before { content: '\e81a'; } /* '' */
.icon-briefcase:before { content: '\e81b'; } /* '' */
.icon-suitcase:before { content: '\e81c'; } /* '' */
.icon-chart-area:before { content: '\e81d'; } /* '' */
.icon-user:before { content: '\e81e'; } /* '' */
.icon-trash-1:before { content: '\e81f'; } /* '' */
.icon-mail:before { content: '\e820'; } /* '' */
.icon-reply-all:before { content: '\e821'; } /* '' */
.icon-reply:before { content: '\e822'; } /* '' */
.icon-logout-1:before { content: '\e823'; } /* '' */

/********************************* DEFAULT ******************************/

.back{
    color: rgba(0, 0, 0, 0.37);
    display: block;
    font-size: 25px;
    padding: 10px 0px;
}

.back:hover{
    color: #07b4e3;
}

h2{
    font-weight: 400;
    text-align: center;
}

/******************************* MAPS ************************************/

#map-canvas {
    height: 300px;
    margin: auto;
    width: 100%;

}

.titleMaps{
    width: 100%;
    text-align: center;
}

.buttonMaps{
    color: rgba(0, 0, 0, 0.37);
    display: block;
    width: 100%;
}

.buttonMaps:hover{
    color: #07b4e3;
    cursor:pointer;
}

/********************************** hidden ***************************************/

.hidden,#hidden{
    display: none;
}

body, html{
    background: white;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/***************************** MESSAGES ******************************/

.message,.messageError{
    display: inline-block;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    width: 90%;
}

.message{
    color: green;
    margin-right: -10px;
    padding-left: 6%;
}

.messageError{
    color: red;
    margin-right: -10px;
    padding-left: 6%;
}

/****************************** HEADER *******************************/


header{
    background: #233645;
    height: 100%;
    overflow: scroll;
    position: fixed;
    width: 220px;
}

#logo{
    margin: 10px 10px;
    width: 180px;
}

.headerProfile{
    background: rgba(16, 15, 15, 0.23);
    color:white;
}

.headerProfile figure{
    height: 115px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.headerProfile figure img{
    border-radius: 50%;
    box-shadow: -7px 7px 20px black;
    height: 70px;
    margin-top: 5px;
    margin-bottom: -15px;
    width: 70px;
}

.headerProfile figure div p{
    font-weight: 400;
}

.headerProfile figure div span{
    display: block;
    color: rgba(255, 255, 255, 0.52);
    font-size: 11px;
    font-weight: 100;
    margin-top: -16px;
}

header nav{
    background: rgba(0, 0, 0, 0.12);
    height: 100%;
}

header nav a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    color: rgba(255, 255, 255, 0.72);
    display: block;
    font-size: 14px;
    font-weight: inherit;
    padding: 13px;
    width: 194px;
}

header nav a:hover{
    background: rgba(0, 0, 0, 0.36);
    opacity: 0.6;
}

.profileNav
{
    display: none;
}
/**************************************** HEADER DEL WRAPPER *********************/

.wrapper{
    width: 100%;
}

.wrapperBody, .wrapperBody1{
    display: inline-block;
    vertical-align: top;
}

.wrapperBody{
    margin-right: -4px;
    width: 220px;
}

.wrapperBody1{

    width: 82.8125%;
    margin-right: -4px;
}

.row {
    height: 34px;
    width: 100%;
}

.rowContent{
    height: 30px;
    position: inherit;
    width: 98%;

}

.rowContent a{
    color: rgba(0, 0, 0, 0.37);
    display: inline-block;
    font-size: 20px;
    float: right;
    vertical-align: top;
}

.rowContent a:hover{
    color:#07b4e3;
}

/****************************************** WRAPPER O CUERPO ***********************/


h1{
    background: white;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.45);
    border-bottom: 1px solid rgba(172, 177, 181, 0.65);
    color: black;
    font-weight: bold;
    font-size: 40px;
    height: 62px;
    margin: 0px 105px 20px;
    padding: 10px 0;
    text-align: center;
    text-shadow: -3px 4px 1px rgb(152, 140, 140);
    width: 92.3%;
}

.working{
    margin: auto;
    width: 90%;
}

.wrapperContent{
    background: white;
    border-top: 4px solid rgba(111, 111, 111, 0.39);
    border-radius: 3px;
    margin-bottom: 30px;
    padding-bottom: 1px;
    width: 100%;

}

/*************************************** TABLE ***************************************/

.tableContent{
    box-shadow: 0 1px 5px 0;
    overflow: auto;
    text-align: center;
}

table{
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    width: 100%;
}

th,td {
    border-top: 1px solid #ddd;
    padding: 16px;

}

th{
    font-weight: 500;
}

td{
    font-weight: 100;
}

.tableContent a{
    color: rgba(0, 0, 0, 0.37);
}

.tableContent a:hover{
    color: #07b4e3;
}

.tableContent img{
    border-radius: 50%;
    height: 40px;
    width: 40px !important;
}

/************************************ FORM *************************************************/

.formContent{
    background: white;
    box-shadow: 0 1px 5px 0;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 30px;
}

form{
    border-radius: 15px;
    font-weight: 100;
    margin: 16px auto;
    width: 75%;
}


form div label{
    display: block;
    padding: 20px 10%;
    width: 100%;
}



form div input, form div select{
    background: white;
    border:none;
    border-radius: 15px;
    box-shadow: -7px 10px 20px rgba(0, 0, 0, 0.83);
    height: 30px;
    margin: 0px 10%;
    padding-left: 20px;
    width: 80%;
}

form div select{
    width: 83%;
}

input[type=submit]{
    background: rgba(29, 44, 56, 0.99);
    border: 1px solid rgba(29, 44, 56, 0.99);
    color: white;
    font-size: 18px;
    font-weight: 100;
    height: 50px;
    margin: 45px 0;
    width: 100%;
    box-shadow: -10px 10px 32px rgba(0, 0, 0, 0.65);
}

 textarea{
    background: white;
    border-radius: 15px;
    box-shadow: -7px 10px 20px rgba(0, 0, 0, 0.83);
    border:none;
    height: 200px;
    margin: 0px 10%;
    padding-left: 20px;
    width: 80%;
}

.formErrors{
    color: red;
    margin: 10px 10% 0px;
}

.formPayments label{
    text-align: center;
    padding: 20px 0;
}

.formPayments p{
    text-align: center;
    font-weight: 600;
}


/*********************************** BUTTON A ****************************/

.buttonA{
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0px 0px 6px;
    color: rgb(159, 159, 160);
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 100%;

}

.buttonA:hover{
    color: #07b4e3;
}

.business, .business-fixed{
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.business{
    margin-left: 10px;
}

/*************************************** MOVIMIENTOS *****************************/

.showMove{
    cursor: pointer;
}

.showMove:hover{

    color: #07b4e3;
}

/*************************************** PROFILE *******************************/

.datesProfile{
    border: 1px dotted rgb(159, 159, 160);
    font-weight: 100;
    margin-bottom: 10px;
    text-align: center;
}

.datesProfile figure{
    margin: auto;
    position: relative;
    width: 170px;
}

.datesProfile img{
    border: 1px solid rgb(159, 159, 160);
    box-shadow: -13px 9px 20px rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    width: 170px;
}

.datesProfile a{
    color: rgba(197, 200, 203, 0.99);
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin: -32px 0px;
    position: absolute;
    text-align: justify;
    width: 100%;
}



.datesProfile a:hover{
    color: #07b4e3;
}

/************************************* pop up **************************************/

.popUp{
    background: rgba(0, 0, 0, 0.76);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.popUpContent{
    height: 100%;
    margin: 100px auto;
    width: 60%;
    z-index: 10;
}

.close-popUp {
    color: rgb(159, 159, 160);
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 10px;
}

.close-popUp:hover{
    color: #07b4e3;
}

.profileFile input[type=file]{
    border-radius: 0px;
    cursor: pointer;
    display: block;
    height: 130px;
    margin-top: -143px;
    margin-left: 0;
    margin-right: 0;
    opacity: 0;
    padding: 0;
    position: relative;
    width: 100%;
    box-shadow: -25px 23px 17px rgba(0, 0, 0, 0.65);
}
.profilePhoto{

}

.profileP{
    border: 1px dashed rgba(0, 0, 0, 0.4);
    font-size: 18px;
    font-weight: inherit;
    height: 85px;
    padding-top: 40px;
    text-align: center;
    width: 100%;
}


/********************************* BUTTON SEARCH ********************************/


.formSearch{

    width: 100%;
}

.formSearch button{
    width: 26px;
    float: right;
    margin: -27px 10px;
    position: relative;
    height: 24px;
    background: white;
    border: none;
}

.buttonSearch{
    margin-left: 80%;
    width: 200px;
}

.buttonSearch img{
    width: 20px;
    float: right;
    margin: -11px -4px;
    position: relative;
}

/**************************** REPORTS ****************************/

.wrapperReports{
    background: white;
    border-top: 4px solid rgba(111, 111, 111, 0.39);
    border-radius: 3px;
    display: inline-block;
    margin: 76px 0px;
    padding-bottom: 1px;
    vertical-align: top;
    width: 40%;
}

.reports{
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

@media all and (min-width: 0px) and (max-width: 480px){

    .headerProfile{
        display: none;
    }

    .profileNav{
        display: block;
    }

    header{
        display: none;
        text-align: center;
        width: 100%;
        z-index: 99;
    }

    header nav a{
        width: 100%;
    }

    h1{
        margin: 0px 0px 20px;
        width: 100%;
    }

    .wrapperBody{
        display: none;
    }

    .wrapperBody1{
        width: 100%;
    }

    .wrapperReports{
        margin: 0;
        width: 100%;
    }

    .formSearch{
        width: 0;
    }

    .business, .business-fixed{
        margin-left: 12px;
        width: 45%;
    }

    .formContent{
        margin: 0;
        padding: 0;
    }

    form{
        width: 100%;
    }
}